<div style="background-color: rgb(54, 54, 199);">
    <div class="pt-4">
      <app-navbar></app-navbar>
    </div>
</div>

<!-- <div style="display:flex; flex-direction: row;flex-wrap:wrap; justify-content: space-around;">
  <div class="study">a</div>
  <div class="study">b</div>
  <div class="study">c</div>
  <div class="study">a</div>
  <div class="study">b</div>
  <div class="study">c</div>
  <div class="study">a</div>
  <div class="study">b</div>
  <div class="study">c</div>
</div> -->
<div style="min-height: 600px;">
  <div style="margin-top: 1%;margin-left: 1%;">
    <h1 style="text-align: center;color: rgb(54, 54, 199);"><b>Study Topics</b></h1>
    <h3 style="background-color: rgba(58, 74, 199, 0.375);width: 290px;">All the Materials you need in one place</h3>
</div>
<mat-tab-group>
  <mat-tab label="Web Development">
    <div style="display:flex; flex-direction: row;flex-wrap:wrap; justify-content: space-around;">
      <div class="study">Angular</div>
      <div class="study">React JS</div>
      <div class="study">React Native</div>
      <div class="study">Java</div>
      <div class="study">Android Development</div>
      <div class="study">iOS Development</div>
      <div class="study">CSS</div>
    </div>
  </mat-tab>
  <mat-tab label="IT Certificates">
    <div style="display:flex; flex-direction: row;flex-wrap:wrap; justify-content: space-around;">
      <div class="study">Amazon AWS</div>
      <div class="study">Microsoft Azure</div>
      <div class="study">Google Cloud GCP</div>
      <div class="study">Kubernetes</div>
      <div class="study">Cisco CCNA</div>
      <div class="study">Security</div>
    </div>
  </mat-tab>
  <mat-tab label="Data Science">
    <div style="display:flex; flex-direction: row;flex-wrap:wrap; justify-content: space-around;">
      <div class="study">Python</div>
      <div class="study">Machine Learning</div>
      <div class="study">Deep Learning</div>
      <div class="study">Artificial Intelligence</div>
      <div class="study">NLP</div>
      <div class="study">Statistics</div>
  </div>
  </mat-tab>
  <mat-tab label="Business Analytics &Intelligence">
    <div style="display:flex; flex-direction: row;flex-wrap:wrap; justify-content: space-around;">
      <div class="study">Excel</div>
      <div class="study">SQL</div>
      <div class="study">Power BI</div>
      <div class="study">Data Analysis</div>
      <div class="study">Tableau</div>
      <div class="study">Data Modeling</div>
      <div class="study">Data Visualization</div>
  </div>
  </mat-tab>
  <mat-tab label="Communication">
    <div style="display:flex; flex-direction: row;flex-wrap:wrap; justify-content: space-around;">
      <div class="study">Communication Skills</div>
      <div class="study">Presentation Skills</div>
      <div class="study">Public Speaking</div>
      <div class="study">Powerpoint</div>
  </div>
  </mat-tab>
</mat-tab-group>
</div>

<app-footer></app-footer>
