<div style="background-color: rgb(54, 54, 199);">
    <div class="pt-4">
      <app-navbar></app-navbar>
    </div>
</div>
<div class="container">
    <h1 class="title">About Us</h1>
  
    <div class="about-content">
      <p>Welcome to our website! We are a passionate team of educators dedicated to making high-quality, engaging learning experiences accessible to everyone..</p>
      <p>Our mission is to empower individuals with the knowledge and skills they need to achieve their personal and professional goals. We are committed to providing a supportive learning environment where you can connect with instructors and fellow learners, ask questions, and get the guidance you need to succeed.</p>

        
    </div>
  
    <div class="team-section">
      <h3><b>Ready to Start Your Learning Journey?</b></h3>
      <p>* Browse our course catalog and find the perfect fit for you.</p>
      <p>* Sign up for a free demo class to experience our teaching style firsthand.</p>
      <p>* Attend a masterclass led by an industry expert to gain valuable insights.</p>
      <p>* Download our free study materials to supplement your learning.</p>
      <p>* We are here to support you every step of the way.</p>
      <p> Let's unlock your potential together!</p>
    </div>
</div>
<div class="container">
    <h1 class="title">Contact Us</h1>
  
    <div class="about-content">
      <p>Course/Content : edutech&#64;mail.com</p>
      <p>website/Technical : ani.mahure&#64;gmail.com</p>
    </div>
</div>
<app-footer></app-footer>