<div class="footer-main">
    <div class="infoDiv" style="color: white;">
        <h2>EdTech</h2>
        <p>Designed by Aniket</p>
        <p><img src="/../assets/logo.png" style="width: 20%;"></p>
    </div>
    <div class="infoDiv">
        <h2 style="color: white;">Explore EdTech</h2>
        <p [routerLink]="'/courses'">Courses</p>
        <p [routerLink]="'/masterclass'">Masterclass</p>
        <p [routerLink]="'/class'">Demo Class</p>
        <p [routerLink]="'/class'">live Class</p>
        <p [routerLink]="'/study'">Study Material</p>
    </div>
    <div class="infoDiv">
        <h2 style="color: white;">Resources</h2>
        <p [routerLink]="'/about'">Contact us</p>
        <p [routerLink]="'/about'">About us</p>
    </div>
    <div class="infoDiv">
        <h2 style="color: white;">Follow us on</h2>
        <p>Twitter</p>
        <p>linkedIn</p>
        <p>Instagram</p>
    </div>
</div>