.div1{
    /* background-color: rgb(230, 166, 166); */
    width: 29% ;
    left: 0;
    margin-left: 1%;
}
.div2{
    /* background-color: rgb(152, 239, 152); */
    min-width: 70%;
    right: 0;
}

/* In your CSS file */
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 6%;
    margin-right: 3%;
  }
  
  .card {
    flex-basis: calc(50% - 10px); /* Adjust as needed */
    margin-bottom: 10px; /* Adjust as needed */
    /* text-align: center; */
    height: 120px;
    width: 30px;
    padding-left: 2%;
    padding-top: 1%;
    border-width: 1px;
    border-color: black;
    color: rgb(55, 54, 54);
    transition: transform .2s;
    
    border-color: rgba(54, 54, 199, 0.292);
    border-radius: 10px;
    border-width: 2px;
  }
  .card:hover{
    transform: scale(0.94);
    background-color: rgba(54, 54, 199, 0.292);
    cursor: pointer;    
  }

  .bottomcard {
    /*flex-basis: calc(30% - 10px);  Adjust as needed */
    margin-bottom: 10px; /* Adjust as needed */
    text-align: center;
    height: 200px;
    padding-top: 1%;
    border-width: 1px;
    border-color: black;
    color: whitesmoke;
    transition: transform .2s;
    background-color: rgba(54, 54, 199, 0.795);
    border-color: rgba(54, 54, 199, 0.292);
    border-radius: 10px;
    border-width: 2px;
  }
  .bottomcard:hover{
    transform: scale(1.07);
    /* background-color:rgba(54, 54, 199, 0.607); */
    /* color: rgb(54, 54, 199);; */
    
  }
  